/* src/css/dashboard.css */
.dashboard-container {
  min-height: 100vh;
  background: #f3f6fb;
  display: flex;
  flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100vw;
    height: fit-content;
}

.navbar {
  background: #004e92;
  color: #fff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar h1 {
  font-size: 1.5rem;
  padding: auto;
  margin: auto;
}

.navbar button {
    margin: auto;
  background: #fff;
  color: #004e92;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.navbar button:hover {
  background: #e6e6e6;
}

.dashboard-content {
  padding: 30px 50px;
}

.dashboard-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.dashboard-card h3 {
  color: #004e92;
  margin-bottom: 10px;
}

.dashboard-card p {
  color: #333;
  font-size: 0.95rem;
}
